# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
trendyenv/
env/
venv/

# Environment variables
.env
.env.*.local

# macOS files
.DS_Store
__MACOSX/

# Docker override
docker-compose.override.yml

# IDE settings
.vscode/
.idea/